body, html{
	height:100%;
}


/*.navbar {
	position: absolute;
		top: 0;
	width: 100%;
}*/

.aboutme, .projects, .experience, .contact, .education {
	width: 100%;
	min-height: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.black-navbar {
	background-color: rgb(8, 8, 8);
	border-bottom: none;
}

.black-navbar-active {
	/*background-color: rgba(255, 255, 255, 0.5);*/
	background-color: #0059b3;
}

.aboutme {
	/*background-color: red;*/
	background-color: #e74c3c;
}

.projects {
	/*background-color: green;*/
	background-color: #f1c40f;
}

.education {
	/*background-color: #00EDED;*/
	/*background-color: #f1c40f;*/
	background-color: #2ecc71;
}

.experience {
	/*background-color: #2E2EFF;*/
	background-color: #3498db;
}

.contact {
	/*background-color: purple;*/
	background-color: #9b59b6;
}

/* Flaired edges, by Tomas Theunissen */
		
hr.projectshr {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}
hr.projectshr:before { /* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;    
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

/* Gradient transparent - color - transparent */

hr.abouthr {
    border: 0;
    height: 1px;
    background: red;
    background-image: -webkit-linear-gradient(left, #ccc, red, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, red, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, red, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, red, #ccc); 
}		

hr.experiencehr {
    border: 0;
    height: 1px;
    background: #2E2EFF;
    background-image: -webkit-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
}

hr.projects-divider-hr {
    border: 0;
    height: 1px;
    background: green;
    background-image: -webkit-linear-gradient(left, #ccc, green, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, green, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, green, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, green, #ccc); 
}

hr.educationhr {
    border: 0;
    height: 1px;
    background: #00DDFF;
    background-image: -webkit-linear-gradient(left, #ccc, #00DDFF, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #00DDFF, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #00DDFF, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #00DDFF, #ccc); 
}

.cenetered {
	text-align: center;
}

.list-i-use ul li {
	font-size: 13pt;
}

.intro-text {
	font-size: 14pt;
}