body, html{
	height:100%;
}


/*.navbar {
	position: absolute;
		top: 0;
	width: 100%;
}*/

.aboutme, .projects, .experience, .contact, .education {
	width: 100%;
	min-height: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.aboutme {
	/*background-color: #FF6363;*/
	background-color: red;
}

.projects {
	/*background-color: #7DFF7D;*/
	background-color: green;
}

.education {
	/*background-color: #A1F2FF;*/
	background-color: #00EDED;
}

.experience {
	/*background-color: #6E9CFF;*/
	background-color: #2E2EFF;
}

.contact {
	/*background-color: #B485FF;*/
	background-color: purple;
}

/* Flaired edges, by Tomas Theunissen */
		
hr.projectshr {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}
hr.projectshr:before { /* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;    
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

/* Gradient transparent - color - transparent */

hr.abouthr {
    border: 0;
    height: 1px;
    background: red;
    background-image: -webkit-linear-gradient(left, #ccc, red, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, red, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, red, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, red, #ccc); 
}		

hr.experiencehr {
    border: 0;
    height: 1px;
    background: #2E2EFF;
    background-image: -webkit-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #2E2EFF, #ccc); 
}

hr.projects-divider-hr {
    border: 0;
    height: 1px;
    background: green;
    background-image: -webkit-linear-gradient(left, #ccc, green, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, green, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, green, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, green, #ccc); 
}

hr.educationhr {
    border: 0;
    height: 1px;
    background: #00DDFF;
    background-image: -webkit-linear-gradient(left, #ccc, #00DDFF, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #00DDFF, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #00DDFF, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #00DDFF, #ccc); 
}

.cenetered {
	text-align: center;
}