.wrapper {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.fullPage {
	width: 100%;
	min-height: 70vh;
}

.centeredText {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;

	.firstLine {
		// font-size: 200%;
		// padding-right: 10px;
		font-weight: bold;
	}
}

h1.sectionTitle {

}

.itemWrapper {	
	.item {
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		border: 1px solid black;
	}

	&.item- {
		&thumbnail {
			.item {
				width: 90%;
				min-height: 100px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.title {
				text-decoration: underline;
				font-size: 25px;
				text-align: center;
			}

			.description {
				display: none;
			}
		}

		&expanded {
			margin-top: 20px;
			margin-bottom: 20px;

			.item {
				width: 90%;
				min-height: 500px;
				margin-left: auto;
				margin-right: auto;
			}

			.title {text-transform: uppercase; font-weight: bold;}

			.description {
				display: block;
			}
		}
	}

	.item {
	}
}